body{
    background-color:darkgray;
}

#footer, nav{
   
   list-style-type: none;
   background-color: rgb(78, 78, 78);
   color: white;
   display: flex;
   gap: 150px;
   padding: 14px;
   
  
}

a{
    color: white;

    
}

h1{
    text-align: center;
}
article{
    font-size: 18px;
    text-align: justify;
}
html{
    scroll-behavior: smooth;
}

.brand-logo{
    width:200px;
}